BODY {
margin: 6;
font-family: arial, helvetica, sans-serif;
color: black;
background: cornsilk;
font-size: 12pt
}

a:link {
color: navy
}

a:visited {
color: maroon
}

a:active {
color:#FF0090
}

TT {color:black;
font-family: courier;
}

PRE {color:black;
font-family: courier;
}

CODE {color:black;
font-family: courier;
}

.emphasis { color:red }

LI { font-family: arial, helvetica, sans-serif }

table.header {
background: #CCFFFF;
color: #CC0000;
}

table.people {
background: #dddddd;
color: #CC0000;
font-size: 12pt
}

table.light {
#background: #FFFFCC;
background: cornsilk;
color: #CC0000;
}

tr.dark {
background: #CCFFFF;
}

tr.light {
#background: #FFFFCC;
background: cornsilk;
}

td {
font-size: 11pt;
}

td.small {
font-size: 9pt;
}

td.title {
font-size: 26pt;
font-family: arial, helvetica;
font-weight: bold;
color: #CC0000;
}

td.smalltitle {
font-size: 18pt;
font-family: arial, helvetica;
font-weight: bold;
color: #CC0000;
}

/* Added by Luis Pedro */
td.blue-header {
border: 2px solid #000000;
font-size: 18pt;
font-family: arial, helvetica;
font-weight: bolder;
background-color: #4179CD;
color: #FFFFFF;
padding: 5px;
}

td.body{
border: 1px solid #0000FF;
font-size: 16px;
font-family: arial, helvetica;
padding: 10px;
background-color: #FFFFFF;
color: #000000;
}

td.note{
border: 1px solid #FF7F50;
font-size: 12px;
font-family: Verdana;
padding: 10px;
background-color: #EFEFEF;
color: #000000;
}
/* Luis Pedro - End */
